@use "../../styles/abstract/variables" as v;

.card {
  font-size: 14px;
  max-width: 800px;
  background: v.$color-secondary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  border-radius: 2rem;

  &-title {
    font-size: 3rem;
  }

  &-img {
    width: 100%;
    height: auto;
  }
}

.card-list-item {
  display: flex;
  align-items: center;
}
