---
import { Image } from "astro:assets";
import newsletterDesktopImage from "../../assets/images/illustration-sign-up-desktop.svg";
import iconListImage from "../../assets/images/icon-list.svg";
import Input from "../Input.astro";
---

<div class="card p-lg">
  <div class="center p-lg">
    <h1 class="mb-lg">Stay updated!</h1>
    <p class="mb-lg">
      Join 60,000+ product managers receiving monthly updates on:
    </p>
    <ul class="mb-lg">
      <li class="card-list-item mb-md">
        <span class="mr-md">
          <Image src={iconListImage} alt="Icon list" />
        </span>Product discovery and building what matters
      </li>
      <li class="card-list-item mb-md">
        <span class="mr-md">
          <Image src={iconListImage} alt="Icon list" />
        </span>Measuring to ensure updates are a success
      </li>
      <li class="card-list-item mb-md">
        <span class="mr-md">
          <Image src={iconListImage} alt="Icon list" />
        </span>And much more!
      </li>
    </ul>
    <Input />
    <button>Subscribe to monthly newsletter</button>
  </div>
  <div>
    <Image src={newsletterDesktopImage} alt="Sign up desktop illustration" />
  </div>
</div>
