---
import { Image } from "astro:assets";
import iconListImage from "../../assets/images/icon-list.svg";
import Form from "../Form/Form.astro";
---

<div class="card p-lg">
  <div class="center p-lg">
    <h1 class="mb-lg card-title">Stay updated!</h1>
    <p class="mb-lg">
      Join 60,000+ product managers receiving monthly updates on:
    </p>
    <ul class="mb-lg">
      <li class="card-list-item mb-md">
        <span class="mr-md">
          <Image src={iconListImage} alt="Icon list" />
        </span>Product discovery and building what matters
      </li>
      <li class="card-list-item mb-md">
        <span class="mr-md">
          <Image src={iconListImage} alt="Icon list" />
        </span>Measuring to ensure updates are a success
      </li>
      <li class="card-list-item mb-md">
        <span class="mr-md">
          <Image src={iconListImage} alt="Icon list" />
        </span>And much more!
      </li>
    </ul>
    <Form />
  </div>
  <div class="card-img-ctn">
    <img
      class="card-img"
      src="/public/illustration-sign-up-desktop.svg"
      alt="Newsletter illustration"
    />
  </div>
</div>

<script>
  const isMobile = window.matchMedia("(max-width: 800px)").matches;
  const newsletterImage = document.querySelector(
    ".card-img",
  ) as HTMLImageElement;
  if (isMobile) {
    newsletterImage.src = "/public/illustration-sign-up-mobile.svg";
  } else {
    newsletterImage.src = "/public/illustration-sign-up-desktop.svg";
  }

  window.onresize = () => {
    const isMobile = window.matchMedia("(max-width: 800px)").matches;
    if (isMobile) {
      newsletterImage.src = "/public/illustration-sign-up-mobile.svg";
    } else {
      newsletterImage.src = "/public/illustration-sign-up-desktop.svg";
    }
  };
</script>
