@use "typography";
@use "variables" as v;

html {
  font-family: v.$font-family;
  background: v.$color-primary;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: v.$color-text;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  background: v.$color-primary;
  color: v.$color-secondary;
}
