// Layout

$desktop-max-width: 1440px;
$mobile-max-width: 375px;

// Colors

$color-error: hsl(4, 100%, 67%);
$color-text: hsl(234, 29%, 20%);
$color-input: hsl(231, 7%, 60%);
$color-primary: hsl(235, 18%, 26%);
$color-secondary: hsl(0, 0%, 100%);

// Typography

$text-size-md: 1rem;
$font-family: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
