@use "../abstract/variables" as v;

.btn {
  border-radius: 0.5rem;
  font-weight: 700;
  padding: 1rem;
  width: 100%;
  border: 0;
  background: v.$color-primary;
  color: v.$color-secondary;

  &:hover {
    cursor: pointer;
    background: linear-gradient(to right, #ff527b, #ff6a3a);
    box-shadow: 0 10px 20px 3px rgba(#ff6a3a, 0.3);
  }

  & > * {
    color: v.$color-secondary;
  }
}
