// Layout

$max-mobile: 375px;
$max-desktop: 1440px;

// Colors

$bg-color-main: hsl(212, 45%, 89%);
$bg-color-card: hsl(0, 0%, 100%);
$font-color-main: hsl(220, 15%, 55%);
$font-color-title: hsl(218, 44%, 22%);

// Typography

$font-family: "Outfit", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-md: 0.9375rem;
$font-size-lg: 1.25rem;
