---
import Button from "./Button";
import Input from "./Input";

interface Props {
  data: string;
  error: string;
}

const { data, error } = Astro.props;
---

<form class="form" method="POST" action="/newsletter" novalidate>
  <Input
    type="email"
    name="email"
    value={data}
    label="Email address"
    placeholder="email@company.com"
    errorText={error}
  />
  <Button class="btn">Subscribe to monthly newsletter</Button>
</form>
