---
import Button from "./Button";
import Input from "./Input";

const error = Astro.cookies.get("error");
const data = Astro.cookies.get("data");

if (Astro.cookies.has("error")) {
  Astro.cookies.delete("error");
}

if (Astro.cookies.has("data")) {
  Astro.cookies.delete("data");
}
---

<form class="form" method="POST" action="/newsletter" novalidate>
  <Input
    type="email"
    name="email"
    value={data?.value}
    label="Email address"
    placeholder="email@company.com"
    errorText={error?.value}
  />
  <Button class="btn">Subscribe to monthly newsletter</Button>
</form>
