@use "../../styles/abstract/variables" as v;

.form-label {
  font-weight: v.$font-weight-bold;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.form-input {
  width: 100%;
  border-radius: 0.5rem;
  padding: calc(1rem - 1px);
  color: v.$color-text;
  border: 1px solid v.$color-text;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
    opacity: 1;
  }

  &:not(:placeholder-shown) {
    opacity: 1;
  }
}

.form--error {
  .form-label,
  .form-error,
  .form-input {
    color: v.$color-error;
    opacity: 1;
  }

  .form-input {
    border-color: v.$color-error;
    background-color: rgba(v.$color-error, 0.1);
  }
}

.form-btn {
  border-radius: 0.5rem;
  font-weight: 700;
  padding: 1rem;
  width: 100%;
}
