---
import * as v from "valibot";

let errorText = "";
if (Astro.request.method === "POST") {
  const emailSchema = v.string([
    v.minLength(1, "Please enter an email address"),
    v.email("Please enter a valid email address"),
  ]);

  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    v.parse(emailSchema, email);
  } catch (error: any) {
    if (error.issues.length > 0) {
      errorText = error.issues[0].message;
    }
  }
}
---

<form
  class:list={["form", { "form--error": Boolean(errorText) }]}
  method="POST"
  novalidate
>
  <label>
    <p class="form-label mb-sm">
      Email address <span class="form-error">{errorText}</span>
    </p>
    <input
      class="form-input mb-lg"
      type="email"
      name="email"
      placeholder="email@company.com"
      required
    />
  </label>
  <button class="form-btn p-md" type="submit">
    Subscribe to monthly newsletter
  </button>
</form>
