@use "typography";
@use "../abstract/variables" as v;

html {
  font-family: v.$font-family;
  background: v.$color-primary;
}

body {
  display: grid;
  place-content: center;
  height: 100svh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: v.$color-text;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  background: v.$color-primary;
  color: v.$color-secondary;
}

img {
  display: block;
}
