@use "typography";
@use "../abstract/variables" as v;

html {
  font-family: v.$font-family;
  background: v.$color-primary;
  font-size: v.$text-size-base;
}

body {
  display: grid;
  place-content: center;
  min-height: 100svh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: v.$color-text;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}
