@use "variables" as v;

h1 {
  font-size: 2rem;
  font-weight: v.$font-weight-bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: v.$font-weight-bold;
}

p {
  font-size: 1.125rem;
  font-weight: v.$font-weight-normal;
}

input {
  border: 0;
}
