@use "variables" as v;

.form {
  position: relative;
  width: min(100%, 500px);

  &-input {
    width: 100%;
    border-radius: v.$radius;
    font-size: clamp(0.9rem, 2.5vw, 1.125rem);
  }

  &-btn {
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 0rem v.$radius v.$radius 0;
    background-color: v.$dark-grey;
  }
}
