.grid {
  display: grid;
}

.content-center {
  place-content: center;
}

.items-center {
  place-items: center;
}

.z--1 {
  z-index: -1;
}

.absolute {
  position: absolute;
}

.translateY-50 {
  transform: translateY(50%);
}

.translateY--50 {
  transform: translateY(-50%);
}

.m {
  &b-md {
    margin-bottom: 0.75rem;
  }

  &b-lg {
    margin-bottom: 2rem;
  }
}

.p {
  &-sm {
    padding: 1rem;
  }

  &t-sm {
    padding-top: 1rem;
  }

  &x-sm {
    padding-inline: 1rem;
  }
}
