@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: v.$font-family;
}

html,
body {
  min-height: 100svh;
}
