// ## Layout

// ## Colors

$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 59%);
$dark-grey: hsl(0, 0%, 17%);

// ## Typography

$font-family: "Rubik", sans-serif;
$font-size-base: 16px;

$font-weight-normal: 400;
$font-weight-bold: 500;
// - Font size (text input): 18px

// ### Font

// - Family: [Rubik](https://fonts.google.com/specimen/Rubik)
// - Weights: 400, 500, 700
