// ## Layout

// ## Colors

$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 59%);
$dark-grey: hsl(0, 0%, 17%);

// ## Typography

$font-family: "Rubik", sans-serif;
$font-size-base: 16px;

$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;

// ## Shadows

$shadow:
  rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

// ## Radius

$radius: 0.75rem;
