---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import iconArrow from "../assets/icon-arrow.svg";
---

<BaseLayout title="IP Address Tracker">
  <header class="grid text-center center p-sm">
    <h1 class="mb-sm text-alt">IP Address Tracker</h1>
    <form action="" novalidate class="form">
      <input
        class="form-input"
        type="text"
        placeholder="Search for any IP address or domain"
      />
      <button class="form-btn btn" type="submit">
        <Image src={iconArrow} alt="icon of an arrow" />
      </button>
    </form>
    <section class="details">IP Address Location Timezone UTC ISP</section>
  </header>
  <main>
    <section class="map">
      <div id="map"></div>
    </section>
  </main>
</BaseLayout>
